.filter-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 0 20px;
    width: 1000px;
    margin: 0 auto;
  }
  
  .filter-section-genres {
    width: 460px;
  }
  
  .filter-section h3 {
    margin-bottom: 1px;
  }
  
  .filter-section label {
    margin-bottom: 5px;
  }
  
  .filter-section input[type="checkbox"],
  .filter-section input[type="radio"] {
    margin-right: 0px;
  }
  
  .filter-section select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .filter-button {
    align-self: center;
    background-color: #3498db; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 0px 20px; /* Espaçamento interno */
    height: 50px;
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
  }
  
  .filter-button:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
  }

  .container-search{
    display: flex;
  }
  .search-bar {
    width: 300px;
    padding: 0 100px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
  }
  .search-button{
    background-color: #007bff;
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    margin-left: 10px; 
    cursor: pointer;
  }
  .search-button:hover {
    background-color: #0056b3; 
  }