.main-home-container{
  display: flex;
  flex-direction: column;
}
.container-highlight{
  font-size: 0.8vw;
  width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
}
.trend-img{
  max-height: 350px;
  width: 11vw;
  margin-right: 1rem;
}
.highlight-poster-trailer{
  width: 50%;
  display: flex;
}
.highlight-details{
  max-width: 700px;
}
.container-details{
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (max-width: 1600px) {
  .poster-description * p{
      font-size: 0.8rem;
}
.trending-div{
  height: 20%;
}
}
@media (max-width: 1366px) {
  .highlight-details * p{font-size: 0.7rem;}
  .highlight-details * h4{font-size: 0.8rem;}
  .trend-img{
      width: 40%; 
      height: 40%;
  }
  .div-player{
      width: 50%;
  }
}